**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
*.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.git
.gitignore
.env
.venv
venv/
env/
ENV/
README.md
tests/
docs/
.github/
*.md
!pyproject.toml
poetry.lock
Makefile